<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<strong> <%= @cocktail.name %> </strong>

<% @cocktail.doses.each do |dose| %>
<div>
<%= dose.ingredient.name %>
<%= dose.description %>
<%= link_to 'delete', dose_path(dose), class: 'btn btn-primary', method: :delete %>
<%=  %>
</div>
<% end %>


<%= link_to "New Dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>

